.App {
  text-align: center;
  border: 3px solid rgb(158, 18, 163);
  background-color: rgb(158, 18, 163);
  height: 900px;
  width: 600px;
}

.int1 {
  text-align: center;
  border: 3px solid rgb(91, 21, 184);
  background-color: rgb(91, 21, 184);
  height: 800px;
  width: 500px;
}

.int2 {
  text-align: center;
  border: 3px solid rgb(16, 146, 197);
  background-color: rgb(16, 146, 197);
  height: 700px;
  width: 400px;
}

.int3 {
  text-align: center;
  border: 3px solid rgb(69, 199, 29);
  background-color: rgb(69, 199, 29);
  height: 600px;
  width: 300px;
}

.protected {
  text-align: center;
  border: 3px solid rgb(230, 226, 45);
  background-color: rgb(230, 226, 45);;
  height: 500px;
  width: 200px;
}
